
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap');

  
@layer base {
    body {
        @apply font-[Raleway];
    }
     li {
        @apply px-4;
        @apply cursor-pointer
    }

}
.bg-img{
    background-repeat: no-repeat;
    
    
}

.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}
.content-div{
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 225, 0.8)
    )
}